{{userLoggedFlag}}<div *ngIf="userLoggedFlag">

	<div>
		<h1>Home</h1>
		<h3>Total users: # {{users?.length}}</h3>
	</div>

<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile>
    <mat-card>Product 1</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>Product 2</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>Product 3</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>Product 4</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>Product 5</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>Product 6</mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>